/* DESKTOP  */

@media (min-width: 1200px) {
  /* NAV */
  h2 {
    font-size: 2.3rem;
  }

  .nav {
    background-color: transparent;
    justify-content: space-between;
  }

  .nav__list {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
  }

  .nav__link:hover,
  .dropdown__link:hover {
    color: white;
    border-bottom: 2px solid white;
    letter-spacing: 1.5px;
  }
  .nav__btn {
    display: block;
    width: 15%;
    background-color: var(--btn-light-blue);
    transition: 0.3s ease-in-out;
  }
  .nav__btn:hover {
    background-color: white;
    color: var(--btn-blue);
    box-shadow: 0 0 0 3px var(--btn-blue);
  }
  .hamburger-icon {
    display: none;
  }

  /* DROPDOWN MENU */
  .dropdown-switcher {
    position: relative;
  }

  .nav__link-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .dropdown-switcher:hover > .nav__link-dropdown-menu {
    display: flex;
  }

  /* HERO */

  .hero__header {
    padding-top: 100px;
  }
  /* FEATURES */

  .features__container {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
  }

  /* REVIEWS */

  .reviews__text {
    width: 80%;
    font-size: 1rem;
  }
  /* DOWNLOAD ASIDE */

  .download__container {
    display: flex;
    justify-content: center;
    padding: 120px 40px;
  }
  .download__header {
    width: 50%;
    text-align: left;
  }
  .download__icons {
    width: 50%;
  }

  /* DETAILS */

  .details__container {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .details__header {
    width: 40%;
    margin-left: 10px;
  }
  .details__header-text {
    width: 70%;
  }

  .details__nav {
    width: 15%;
  }
}
