/* DESKTOP  */

@media (min-width: 1200px) {
  /* NAV */
  .nav {
    background-color: transparent;
    justify-content: space-between;
  }
  .nav__logo {
    width: 10%;
  }
  .nav__list {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
  }

  .nav__link:hover {
    color: white;
    border-bottom: 2px solid white;
    letter-spacing: 1.5px;
  }
  .nav__btn {
    display: block;
    width: 15%;
    background-color: var(--btn-light-blue);
    transition: 0.2s ease-in-out;
  }
  .nav__btn:hover {
    background-color: white;
    color: var(--btn-blue);
    box-shadow: 0 0 0 3px var(--btn-blue);
  }
  .hamburger-icon {
    display: none;
  }

  /* HERO */
  /* .hero__header,
  .hero__image {
    width: 45%;
  } */
  .hero__header {
    padding-top: 100px;
  }
  /* FEATURES */
  .features__container {
    justify-content: space-around;
    align-items: center;
  }
}
