/* MOBILE */

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  background-color: var(--nav-color);
  color: white;
  padding: 15px;
}
.nav__btn {
  display: none;
}
.nav__logo {
  width: 100%;
}
.nav__list {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.nav__item {
  width: 100%;
  text-align: center;
}
.nav__link {
  color: white;
  padding: 5px 5px;
  letter-spacing: 1.5;
}

/* MAIN HERO */
.hero__container {
  padding: 20px;
}
.hero__header {
  border: 2px solid orange;
}
.hero__title {
  color: white;
  font-weight: lighter;
  font-size: 2rem;
  margin: 10px 0;
}
.hero__text {
  color: white;
  margin: 10px 0;
}
.hero__btn {
  margin-top: 20px;
  background-color: var(--btn-green);
  transition: 0.3s ease-in-out;
}
.hero__btn:hover {
  background-color: white;
  box-shadow: 0 0 0 2px var(--btn-green);
  color: var(--btn-green);
}
.hero__image {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  border: 1px solid green;
}
.hero__image img {
  max-width: 380px;
}

/* HAMBURGER MENU */

.hamburger-icon {
  position: absolute;
  top: 25px;
  right: 15px;
}
#menu-switcher {
  display: none;
}
span {
  display: block;
  position: relative;
  width: 35px;
  height: 5px;
  border-radius: 2px;
  background-color: white;
}
span::before,
span::after {
  content: '';
  display: block;
  position: absolute;
  width: 35px;
  height: 5px;
  border-radius: 2px;
  background-color: white;
}
span::before {
  top: -10px;
}
span::after {
  top: 10px;
}
input:checked ~ .hamburger-icon span {
  background-color: transparent;
}
input:checked ~ .hamburger-icon span::before {
  transform: rotate(45deg) translateY(14px);
  height: 3px;
}
input:checked ~ .hamburger-icon span::after {
  transform: rotate(-45deg) translateY(-14px);
  height: 3px;
}
input:checked ~ .hamburger-icon {
  right: 0;
}
input:checked ~ .nav__list {
  display: flex;
}

/* FEATURES SECTION */

.features__container {
  padding: 20px;
}
.features__list {
  padding: 40px 0;
}
.feature__image,
.feature__name {
  margin: 25px auto;
}
.feature__name {
  text-align: center;
  font-size: 1.2rem;
  width: 60%;
}
.feature__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 15px;
}
.feature__image--blue {
  background: linear-gradient(to right, #6db3f2 0%, #3690f0 54%, #1e69de 100%);
}
.feature__image--orange {
  background: linear-gradient(45deg, #ffa84c 0%, #ff7b0d 100%);
}
.feature__image--green {
  background: linear-gradient(45deg, #b4e391 0%, #61c419 50%, #b4e391 100%);
}
