/* TABLET */
@media (min-width: 900px) {
  /* HERO */
  .hero__container {
    display: flex;
    justify-content: center;
    /* padding: 80px 50px 0 90px; */
  }
  .hero__title {
    font-size: 2.5rem;
  }

  .hero__header,
  .hero__image {
    margin-top: 20px;
    width: 45%;
  }
  .hero__header {
    padding-top: 50px;
  }
  /* SERVICES */
  .services__list {
    display: flex;
    justify-content: center;
  }
  .services__header {
    font-size: 2.1rem;
  }
  .services__item {
    width: 30%;
  }
  /* FEATURES */
  .features__container {
    display: flex;
    justify-content: center;

    /* padding: 20px; */
  }
  .features__about,
  .features__image {
    width: 40%;
  }
  .features__header {
    text-align: left;
    font-size: 2.1rem;
  }
  .features__image {
    display: flex;
    align-items: center;
  }

  /* REVIEWS */

  .reviews__header {
    width: 40%;
    margin: 0 auto;
    font-size: 2.1rem;
  }
  .reviews__text {
    width: 80%;
    margin: 30px auto;
  }
  /* PRICING */
  .pricing__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pricing__item {
    width: 30%;
  }
  .pricing__item--main {
    z-index: 2;
  }
  /* DETAILS */
  .details__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
  }
  .details__header {
    width: 35%;
  }

  .details__nav {
    width: 35%;
  }
}
